!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}
  %title TapTapGo

  != css :application

  != js :app

  / Import Paper elements
  %link{:rel => "import", :href => "/bower_components/paper-fab/paper-fab.html"}


%body
  .scene#scene0-loading
    .scene-content
      %h1 Connecting to TapTapGo

  .scene#scene1-default.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1 Tap To Check In.
        

  .scene.temporary-scene#scene2-success.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1
            %span#student_name
            &nbsp;
            %span#student_id

  .scene.temporary-scene#scene3-alreadycheckedin.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1 You Have Already Checked In.

  / .scene#scene4-notfound.hidden
  /   .scene-content
  /     %h1
  /       You Are Not In Database

  / .scene#scene5-error.hidden
  /   .scene-content
  /     %h1
  /       An Error Has Occured.
  /     %h2
  /       Contact Someone Now.