!!! 5
%html{:lang => "en"}
%head
  %meta{:charset => "UTF-8"}
  %title TapTapGo

  != css :application

  != js :app

  / Import Paper elements
  %link{:rel => "import", :href => "/bower_components/paper-spinner/paper-spinner.html"}


%body
  .scene#scene0-loading
    .scene-content
      %paper-progress{:indeterminate => ""}

  .scene#scene1-default.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1 Tap To Check In.
        
  .scene#scene1a-pinging.hidden
    .outer-fab
      .fab-content
        .fab-icon
          %paper-spinner.paper_spinner{:active => true}
        .h1-buffer

  .scene.temporary-scene#scene2-success.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1
            %span#student_name
            &nbsp;
            %span#student_id

  .scene.temporary-scene#scene3-alreadycheckedin.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1 You Have Already Checked In.

  .scene.temporary-scene#scene4-notfound.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1 Not Found

  .scene.temporary-scene#scene5-error.hidden
    .outer-fab
      .fab-content
        .fab-icon
        .h1-buffer
          %h1 An Error Has Occured